.finder-container {
    width: 90%;
    height: 150px;
    margin: 0 auto;
    background-image: url(/assets/header-wood.jpg);
    border-radius: 10px;
    // margin-bottom: 10px;
    .auth {
        float: left;
        .log-out {
            padding: 15px;
            margin: 45px 0 0 15px;
            border: 1px solid $dkblue;
        }
    }
    h2 {
        float: left;
        padding: 20px 0 0 20px;
        text-shadow: 1px 1px 5px white;
    }
    .book {
        float: right;
        .beer-bible {
            float: left;
            width: 150px;
            padding: 3%;
        }
    }
}

.search-results {
    position: relative;
    text-align: center;
    height: 100%;
    .beer-item {
        width: 25%;
        float: left;
        padding: 6%;
    }
}

.beer-item-modal {
    display: none;
    background-color: yellow;
    position: fixed;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .ingredient-list {
        .list {
            width: 33%;
            float: left;
        }
    }
}
