.finder-container {
    width: 90%;
    height: 150px;
    margin: 0 auto;
    background-image: url(/assets/header-wood.jpg);
    border-radius: 10px;
    // margin-bottom: 10px;
    .auth {
        float: left;
        .log-out {
            padding: 15px;
            margin: 45px 0 0 15px;
            border: 1px solid $dkblue;
        }
    }
    h2 {
        float: left;
        padding: 20px 0 0 20px;
        text-shadow: 1px 1px 5px white;
    }
    .book {
        float: right;
        .beer-bible {
            float: left;
            width: 150px;
            padding: 3%;
        }
    }
}

.search-results {
    position: relative;
    text-align: center;
    height: 100%;

    .beer-item {
        width: calc(25% - 20px);
        margin: 10px;
        float: left;
        padding: 3% 2%;
        height: 500px;
        border: 3px solid $yellow;
        background-color: white;
        transition: all 0.3s ease-in;

        .beer-item-name {
            line-height: 2.7rem;
            transition: all 0.3s ease-in;
        }

        img {
            width: auto;
            height: 300px;
            margin: 0 auto;
        }

        &:hover {
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
        }

        &:hover .beer-item-name {
            color: $yellow;
        }

        .info-button i,
        .add-button i {
            font-size: 4.2rem;
            transition: all 0.2s ease-in;

            &:hover{
                color: $yellow;
            }
        }

        .add-button i:hover {
            animation: spin 2s infinite;
        }

        .info-button i:hover {
            animation: pulse 2s infinite;
        }
    }
}

.beer-item-modal {
    opacity: 0;
    visibility: hidden;
    border: 5px solid $dkblue;
    background: #eee;
    color: $dkblue;
    padding: 3%;
    position: fixed;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: visibility 0s, opacity 0.5s linear;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.8);
    .ingredient-list {
        .list {
            width: 33%;
            float: left;
        }
    }

    .close-modal-button {
        background: transparent;
    }

    .close-modal-button i {
        font-size: 4.2rem;
        color: $dkblue;
        position: absolute;
        right: 20px;
        top: 20px;
        transition: all 0.2s ease-in;

        &:hover{
            color: $yellow;
            animation: spin 2s infinite;
        }
    }
}
