body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(/assets/brick-wall.jpg);
  overflow-x: hidden;
}


// big neon sign styles
.logoBig {
  font-family: "neontubes";
  font-size: 10vw;
  text-align: center;
    // laptop breakpoint
    @include breakpoint(laptop){
      font-size: 22vh;
      margin-top: 100px;
    }
    // chromebook breakpoint
    @include breakpoint(chromeBook) {
      font-size: 23vh;
      letter-spacing: 12px;
    }
    // bigPhablet breakpoint
    @include breakpoint(bigPhablet) {
      font-size: 17vw;
    }
    // phablet breakpoint
    @include breakpoint(phablet) {
      font-size: 20vw;
    }
    // mobileonly breakpoint
    @include breakpoint(mobileonly) {
      font-size: 20vw;
    }

    // shared class for beer bible neon sign
    .beerBible {
    transform: rotate(-1deg);
    color: scale-color($clr1, $lightness: 85%);
    text-shadow:
                0 0 0 transparent,
                0 0 10px $clr1,
                0 0 20px rgba($clr1,.5),
                0 0 40px rgba($clr1,1),
                0 0 100px rgba($clr1,1),
                0 0 200px rgba($clr1,1),
                0 0 300px rgba($clr1,1),
                0 0 500px rgba($clr1,1),
                0 0 1000px rgba($clr1,1);
    animation: blink 4s infinite alternate;
  }
    // beer, bible classes
  .beer{
    position: relative;
  }
  .bible {
    position: absolute;
    width: 100%;
    top: 22%;
      // laptop breakpoint
      @include breakpoint(laptop){
        top: 37%;
      }
       // chromebook breakpoint
      @include breakpoint(chromeBook) {
        top: 44%;
      }
      // bigPhablet breakpoint
      @include breakpoint(bigPhablet) {
        top: 32%;
      }
      // phablet breakpoint
      @include breakpoint(phablet) {
        top: 25%;
      }
      // mobileonly breakpoint
      @include breakpoint(mobileonly) {
        top: 28%;
      }
  }
}

// container for small neon signs (log in/sign up)
.logoSmall {
  display: block;
  margin: 0 auto;
  width: 35%;
  margin-top: 150px;
    // laptop breakpoint
    @include breakpoint(laptop) {
      width: 50%;
      margin-top: 170px;
    }
    // chromebook breakpoint
    @include breakpoint(chromeBook) {
     width: 55%;
     margin-top: 142px;
    }
    // bigPhablet breakpoint
    @include breakpoint(bigPhablet) {
      margin-top: 120px;
    }
    // phablet breakpoint
    @include breakpoint(phablet) {
      width: 100%;
      margin-top: 80px;
    }
    // mobileonly breakpoint
    @include breakpoint(mobileonly) {
      margin-top: 100px;
      width: 97%;
    }

  // text styles for small neon signs (log in/sign up)
  .signUp,
  .logIn,
  .guest {
    font-family: "neontubes";
    font-size: 3vw;
    text-decoration: none;
    color: scale-color($clr2, $lightness: 80%);
    display: block;
    float: left;
    margin: 0 15px;
    transform: translateZ(0) translate3D(0,0,0);
    will-change: opacity;
    transform: rotate(1deg);
    text-shadow:
                0 0 0 transparent,
                0 0 10px $clr2,
                0 0 20px rgba($clr2,.5),
                0 0 40px rgba($clr2,1),
                0 0 100px rgba($clr2,1),
                0 0 200px rgba($clr2,1),
                0 0 300px rgba($clr2,1),
                0 0 500px rgba($clr2,1);
      animation: buzz 0.01s infinite alternate;
      // laptop breakpoint
      @include breakpoint(laptop){
        font-size: 4vw;
      }
      // phablet breakpoint
      @include breakpoint(phablet) {
        font-size: 8vw;
      }
      // mobileonly breakpoint
      @include breakpoint(mobileonly) {
        font-size: 7vw;
      }
  }

  .guest {
    color: scale-color($yellow, $lightness: 80%);
    display: block;
    margin-left: 25%;
    text-shadow:
                0 0 0 transparent,
                0 0 10px $clr2,
                0 0 20px rgba($yellow,.5),
                0 0 40px rgba($yellow,1),
                0 0 100px rgba($yellow,1),
                0 0 200px rgba($yellow,1),
                0 0 300px rgba($yellow,1),
                0 0 500px rgba($yellow,1);

  }
}


.signUpForm,
.logInForm {
  margin-top: 30px;
  label {
  font-family: "neontubes";
  font-size: 2vw;
  color: scale-color($clr3, $lightness: 80%);
  text-transform: uppercase;
  text-shadow:
              0 0 0 transparent,
              0 0 10px $clr3,
              0 0 20px rgba($clr3,.5),
              0 0 40px rgba($clr3,1),
              0 0 100px rgba($clr3,1),
              0 0 200px rgba($clr3,1),
              0 0 300px rgba($clr3,1),
              0 0 500px rgba($clr3,1);
    // chromebook breakpoint
    @include breakpoint(chromeBook) {
      font-size: 1.5vw;
    }
    // bigPhablet break point
    @include breakpoint(bigPhablet) {
      font-size: 3vw;
    }
    // phablet break point
    @include breakpoint(phablet) {
      font-size: 5vw;
    }
  }
  input{
      color: white;
      font-size: 20px;
      text-transform: uppercase;
      background: none;
      padding: 8px 0;
      border: none;
      box-shadow:
                0 4px 2px -2px scale-color($clr1, $lightness: 80%);
  }
   button {
      font-family: "neontubes";
      font-size: 2vw;
      color: scale-color($clr1, $lightness: 80%);
      text-transform: uppercase;
      border: none;
      background: none;
      display: block;
      margin: 0 auto;
      padding-top: 30px;
      text-shadow:
                  0 0 0 transparent,
                  0 0 10px $clr1,
                  0 0 20px rgba($clr1,.5),
                  0 0 40px rgba($clr1,1),
                  0 0 100px rgba($clr1,1),
                  0 0 200px rgba($clr1,1),
                  0 0 300px rgba($clr1,1),
                  0 0 500px rgba($clr1,1);
      transition: 1s all ease;
        // chromebook breakpoint
        @include breakpoint(chromeBook) {
          font-size: 1.5vw;
          padding-top: 20px;
        }
        // bigPhablet breakpoint
        @include breakpoint(bigPhablet) {
          font-size: 4vw;
          padding-top: 30px;
        }
          // mobile only break poiny
        @include breakpoint(phablet) {
          font-size: 6.5vw;
          padding-top: 20px;
        }
        &:hover {
          color: scale-color($clr2, $lightness: 80%);
           text-shadow:
                        0 0 0 transparent,
                        0 0 10px $clr2,
                        0 0 20px rgba($clr2,.5),
                        0 0 40px rgba($clr2,1),
                        0 0 100px rgba($clr2,1),
                        0 0 200px rgba($clr2,1),
                        0 0 300px rgba($clr2,1),
                        0 0 500px rgba($clr2,1);
        }
    }
}

.signUpForm {
  div {
    width: 33.3%;
    float: left;
      @include breakpoint(bigPhablet) {
        width: 100%;
      }
  }
}

.logInForm {
  div {
    width: 50%;
    float: left;
      @include breakpoint(bigPhablet) {
        width: 100%;
      }
  }
}

@keyframes buzz {
  70% { opacity: 0.80; }
}
@keyframes blink {
  40% { opacity: 1; }
  42% { opacity: 0.8; }
  43% { opacity: 1; }
  45% { opacity: 0.2; }
  46% { opacity: 1; }
}

@media screen and (min-width: 1000px) {
  .logo {
    width: 400px;
    font-size: 150px;
  }
  .logo .signUp .logIn { font-size: 103px; }
}


