
// neon sign styles
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(/assets/brick-wall.jpg);
  background-size: cover;
  background-repeat: no-repeat;  
}

.logoBig {
  display: block;
  margin: 0 auto;
  font-family: "neontubes";
  font-size: 10vw;
  text-align: center;
  white-space: nowrap;
    // laptop breakpoint
    @include breakpoint(laptop){
      font-size: 22vh;
      margin-top: 100px;
    }
    // chromebook breakpoint
    @include breakpoint(chromeBook) {
      font-size: 23vh;
      letter-spacing: 12px;
    }
    // phablet breakpoint 
    @include breakpoint(phablet) {
      font-size: 20vw;
    }
    // mobileonly breakpoint 
    @include breakpoint(mobileonly) {
      font-size: 20vw;
    }

  .beer{
    position: relative;
  }

  .bible {
    position: absolute;
    width: 100%;
    top: 22%;
      // laptop breakpoint
      @include breakpoint(laptop){
        top: 37%;
      }
       // chromebook breakpoint
      @include breakpoint(chromeBook) {
        top: 44%;
      }
      // phablet breakpoint 
      @include breakpoint(phablet) {
        top: 25%;
      }
      // mobileonly breakpoint 
      @include breakpoint(mobileonly) {
        top: 28%;
      }
  }
  
  .beerBible {
    transform: rotate(-1deg);
    color: scale-color($clr1, $lightness: 85%);
    text-shadow:
                0 0 0 transparent,
                0 0 10px $clr1,
                0 0 20px rgba($clr1,.5),
                0 0 40px rgba($clr1,1),
                0 0 100px rgba($clr1,1),
                0 0 200px rgba($clr1,1),
                0 0 300px rgba($clr1,1),
                0 0 500px rgba($clr1,1),
                0 0 1000px rgba($clr1,1);
    animation: blink 4s infinite alternate;
  }
}

.logoSmall {
  display: block;
  margin: 0 auto;
  margin-top: 150px;
  width: 35%;
  font-family: "neontubes";
  text-align: center;
  white-space: nowrap;
    // laptop breakpoint
    @include breakpoint(laptop) {
      width: 50%;
      margin-top: 170px;
    }
    // chromebook breakpoint
    @include breakpoint(chromeBook) {
     width: 55%;
     margin-top: 142px;
    }
    // phablet breakpoint 
    @include breakpoint(phablet) {
      width: 100%;
      margin-top: 80px;
    }
    // mobileonly breakpoint 
    @include breakpoint(mobileonly) {
      margin-top: 100px;
      width: 97%;
    }
  
  .signUp,
  .logIn {
    display: block;
    float: left;
    margin: 0 15px;
    transform: translateZ(0) translate3D(0,0,0);
    backface-visibility: hidden;
    will-change: opacity;
    transform: rotate(1deg);
    font-family: "neontubes";
    font-size: 3vw;
    text-decoration: none;
    color: scale-color($clr2, $lightness: 80%);
    text-shadow:
                0 0 0 transparent,
                0 0 10px $clr2,
                0 0 20px rgba($clr2,.5),
                0 0 40px rgba($clr2,1),
                0 0 100px rgba($clr2,1),
                0 0 200px rgba($clr2,1),
                0 0 300px rgba($clr2,1),
                0 0 500px rgba($clr2,1);
    animation: buzz 0.01s infinite alternate;
      // laptop breakpoint
      @include breakpoint(laptop){
        font-size: 4vw;
      }
      // phablet breakpoint 
      @include breakpoint(phablet) {
        font-size: 8vw;
      }
      // mobileonly breakpoint 
      @include breakpoint(mobileonly) {
        font-size: 7vw;
      }
  }
}

.signUpForm, 
.logInForm {
  margin: 0 auto;
  display: block;
  margin-top: 40px;
  width: 100%;
    // chromebook breakpoint
      @include breakpoint(chromeBook) {
        margin-top: 20px;
        width: 100%;
      }
    div {
    float: left;
    width: 33.3%;
    }      
    .emailContainer, 
    .passwordContainer, 
    .confirmContainer {
      // mobile only break poiny
      @include breakpoint(phablet) {
        width: 100%;
        margin: 30px 0;
      }
      .email {
        // mobile only break poiny
        @include breakpoint(phablet) {
          width: 75%;
        } 
      }
      .confirm {
        // mobile only break poiny
        @include breakpoint(phablet) {
          width: 67%;
        }
      }
      label {
      font-family: "neontubes";
      font-size: 2vw;
      color: scale-color($clr3, $lightness: 80%);
      text-transform: uppercase;
      text-shadow:
                  0 0 0 transparent,
                  0 0 10px $clr3,
                  0 0 20px rgba($clr3,.5),
                  0 0 40px rgba($clr3,1),
                  0 0 100px rgba($clr3,1),
                  0 0 200px rgba($clr3,1),
                  0 0 300px rgba($clr3,1),
                  0 0 500px rgba($clr3,1);  
        // chromebook breakpoint
        @include breakpoint(chromeBook) {
          font-size: 1.5vw;  
        }
        // mobile only break poiny
        @include breakpoint(phablet) {
          font-size: 5vw;
        }
                         
      }
    }    
    input{
      color: white;
      font-size: 20px;
      letter-spacing: 4px;
      text-transform: uppercase;
      background: none;
      margin: 0 10px;
      width: 50%;
      padding: 8px 0;
      border: none;
      box-shadow: 
                0 4px 2px -2px scale-color($clr1, $lightness: 80%);
      // mobile only break point
      @include breakpoint(mobileonly) {
        width: 60%;
      }          
    }

    .logInEmail, 
    .logInPassword {
      width: 50%;
       // mobile only break point
      @include breakpoint(mobileonly) {
        width: 69%;
      }   
    }
    .logInPassword {
      @include breakpoint(phablet) {
         width: 55%;
      }
    }
    button {
      font-family: "neontubes";
      font-size: 2vw;
      color: scale-color($clr1, $lightness: 80%);
      text-transform: uppercase;
      text-shadow:
                  0 0 0 transparent,
                  0 0 10px $clr1,
                  0 0 20px rgba($clr1,.5),
                  0 0 40px rgba($clr1,1),
                  0 0 100px rgba($clr1,1),
                  0 0 200px rgba($clr1,1),
                  0 0 300px rgba($clr1,1),
                  0 0 500px rgba($clr1,1);
      border: none;
      background: none;
      transition: 1s all ease;
        // chromebook breakpoint
        @include breakpoint(chromeBook) {
          font-size: 1.5vw;  
        } 
          // mobile only break poiny
        @include breakpoint(phablet) {
          font-size: 6.5vw;
          display: block;
          margin: 30px auto;
        }    
        &:hover {
          color: scale-color($clr2, $lightness: 80%);
           text-shadow:
                        0 0 0 transparent,
                        0 0 10px $clr2,
                        0 0 20px rgba($clr2,.5),
                        0 0 40px rgba($clr2,1),
                        0 0 100px rgba($clr2,1),
                        0 0 200px rgba($clr2,1),
                        0 0 300px rgba($clr2,1),
                        0 0 500px rgba($clr2,1);
        }
    }
}

.logInForm {
  width: 60%;
  // chromebook breakpoint
    @include breakpoint(chromeBook) {
      width: 70%;
    }
    @include breakpoint(phablet) {
      width: 100%;
    }
      label {
        // chromebook breakpoint
        @include breakpoint(chromeBook) {
          font-size: 2vw;  
        }     
      }
      button {
        // chromebook breakpoint
        @include breakpoint(chromeBook) {
          font-size: 2vw;  
        }  
         @include breakpoint(phablet) {
          font-size: 6.5vw;
        }   
      }
}

@keyframes buzz {
  70% { opacity: 0.80; }
}
@keyframes blink {
  40% { opacity: 1; }
  42% { opacity: 0.8; }
  43% { opacity: 1; }
  45% { opacity: 0.2; }
  46% { opacity: 1; }
}

@media screen and (min-width: 1000px) {
  .logo {
    width: 400px;
    font-size: 150px;
  }
  .logo .signUp .logIn { font-size: 103px; }
}
