// ----- TYPOGRAPHY -----
$basefont1: 'Source Sans Pro', sans-serif;
$basefont2: 'Oswald', sans-serif;

@mixin title-styles($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
    font-weight: 700;
    font-family: $basefont2;
}
@mixin paragraph-styles($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
    font-family: $basefont1;
    font-weight: 400;
    letter-spacing: 1px;
}

@font-face {
font-family: 'bruxregular';
src: 
url('/assets/fonts/webfontkit-20180911-111510/brux-regular-webfont.woff2') format('woff2'),
url('/assets/fonts/webfontkit-20180911-111510/brux-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

html {
    font-size: 62.5%;
}
h1 {
    @include title-styles (35);
}
h2 {
    @include title-styles (30);
}

h3 {
    @include title-styles (25);
}
h4 {
    @include title-styles (20);
}
h5 {
    @include paragraph-styles(18);
}
ul, li {
    @include paragraph-styles (16);
}
p {
    @include paragraph-styles (18);
}
button {
    @include paragraph-styles (18);
}