@import 'partials/_setup.scss';
<<<<<<< HEAD
@import 'partials/typography';
=======
@import 'partials/_typography.scss';
>>>>>>> 1798143b92d1d408f7786b0fac4ecfd2f41e6383
@import 'partials/_landingPage.scss';
@import 'partials/_finder.scss';
@import 'partials/_recipeBook.scss';
@import 'partials/fullRecipe';

img {
    width: 100%;
    display: block;
}
body {
    background-color: #001a33;
}
button {
    border: none;
}

textarea {
    resize: none;
}

ul {
    list-style: none;
}

.wrapper {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}

.show {
    display: block;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}