article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: 01C 01D 018 019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'neontubes';
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix") format("embedded-opentype"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2") format("woff2"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff") format("woff"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 62.5%; }

h1 {
  font-size: 35px;
  font-size: 3.5rem;
  font-weight: 700;
  font-family: "Oswald", sans-serif; }

h2 {
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: 700;
  font-family: "Oswald", sans-serif; }

h3 {
  font-size: 25px;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Oswald", sans-serif; }

h4 {
  font-size: 20px;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Oswald", sans-serif; }

h5 {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  letter-spacing: 1px; }

ul, li {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  letter-spacing: 1px; }

p {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  letter-spacing: 1px; }

button {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  letter-spacing: 1px; }

@keyframes shine {
  0% {
    top: -120%;
    left: -120%; }
  10% {
    left: 100%;
    top: 100%; }
  20% {
    left: 100%;
    top: 100%; }
  100% {
    left: 100%;
    top: 100%; } }

@keyframes shake {
  10%, 50% {
    transform: translate3d(-1px, 0, 0); }
  15%, 45% {
    transform: translate3d(2px, 0, 0); }
  20%, 30%, 40% {
    transform: translate3d(-4px, 0, 0); }
  25%, 35% {
    transform: translate3d(4px, 0, 0); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1.1); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.07); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@keyframes wiggle {
  0% {
    transform: rotate(10deg); }
  25% {
    transform: rotate(-10deg); }
  50% {
    transform: rotate(20deg); }
  75% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes glowing {
  0% {
    -webkit-filter: drop-shadow(-10px 10px -20px #ffb300); }
  40% {
    -webkit-filter: drop-shadow(10px -10px 70px #ffb300); }
  60% {
    -webkit-filter: drop-shadow(-10px 10px 70px #ffb300); }
  100% {
    -webkit-filter: drop-shadow(10px -10px -20px #ffb300); } }

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/assets/brick-wall.jpg); }

.logoBig {
  font-family: "neontubes";
  font-size: 10vw;
  text-align: center; }
  @media (max-width: 1024px) {
    .logoBig {
      font-size: 22vh;
      margin-top: 100px; } }
  @media (max-width: 960px) {
    .logoBig {
      font-size: 23vh;
      letter-spacing: 12px; } }
  @media (max-width: 768px) {
    .logoBig {
      font-size: 17vw; } }
  @media (max-width: 550px) {
    .logoBig {
      font-size: 20vw; } }
  @media (max-width: 375px) {
    .logoBig {
      font-size: 20vw; } }
  .logoBig .beerBible {
    transform: rotate(-1deg);
    color: #fdd0d0;
    text-shadow: 0 0 0 transparent, 0 0 10px #b10707, 0 0 20px rgba(177, 7, 7, 0.5), 0 0 40px #b10707, 0 0 100px #b10707, 0 0 200px #b10707, 0 0 300px #b10707, 0 0 500px #b10707, 0 0 1000px #b10707;
    animation: blink 4s infinite alternate; }
  .logoBig .beer {
    position: relative; }
  .logoBig .bible {
    position: absolute;
    width: 100%;
    top: 22%; }
    @media (max-width: 1024px) {
      .logoBig .bible {
        top: 37%; } }
    @media (max-width: 960px) {
      .logoBig .bible {
        top: 44%; } }
    @media (max-width: 768px) {
      .logoBig .bible {
        top: 32%; } }
    @media (max-width: 550px) {
      .logoBig .bible {
        top: 25%; } }
    @media (max-width: 375px) {
      .logoBig .bible {
        top: 28%; } }

.logoSmall {
  display: block;
  margin: 0 auto;
  width: 35%;
  margin-top: 150px; }
  @media (max-width: 1024px) {
    .logoSmall {
      width: 50%;
      margin-top: 170px; } }
  @media (max-width: 960px) {
    .logoSmall {
      width: 55%;
      margin-top: 142px; } }
  @media (max-width: 768px) {
    .logoSmall {
      margin-top: 120px; } }
  @media (max-width: 550px) {
    .logoSmall {
      width: 100%;
      margin-top: 80px; } }
  @media (max-width: 375px) {
    .logoSmall {
      margin-top: 100px;
      width: 97%; } }
  .logoSmall .signUp,
  .logoSmall .logIn {
    font-family: "neontubes";
    font-size: 3vw;
    text-decoration: none;
    color: #d4eaff;
    display: block;
    float: left;
    margin: 0 15px;
    transform: translateZ(0) translate3D(0, 0, 0);
    will-change: opacity;
    transform: rotate(1deg);
    text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
    animation: buzz 0.01s infinite alternate; }
    @media (max-width: 1024px) {
      .logoSmall .signUp,
      .logoSmall .logIn {
        font-size: 4vw; } }
    @media (max-width: 550px) {
      .logoSmall .signUp,
      .logoSmall .logIn {
        font-size: 8vw; } }
    @media (max-width: 375px) {
      .logoSmall .signUp,
      .logoSmall .logIn {
        font-size: 7vw; } }

.signUpForm,
.logInForm {
  margin-top: 30px; }
  .signUpForm label,
  .logInForm label {
    font-family: "neontubes";
    font-size: 2vw;
    color: #fefefe;
    text-transform: uppercase;
    text-shadow: 0 0 0 transparent, 0 0 10px #fafafa, 0 0 20px rgba(250, 250, 250, 0.5), 0 0 40px #fafafa, 0 0 100px #fafafa, 0 0 200px #fafafa, 0 0 300px #fafafa, 0 0 500px #fafafa; }
    @media (max-width: 960px) {
      .signUpForm label,
      .logInForm label {
        font-size: 1.5vw; } }
    @media (max-width: 768px) {
      .signUpForm label,
      .logInForm label {
        font-size: 3vw; } }
    @media (max-width: 550px) {
      .signUpForm label,
      .logInForm label {
        font-size: 5vw; } }
  .signUpForm input,
  .logInForm input {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    background: none;
    padding: 8px 0;
    border: none;
    box-shadow: 0 4px 2px -2px #fdc0c0; }
  .signUpForm button,
  .logInForm button {
    font-family: "neontubes";
    font-size: 2vw;
    color: #fdc0c0;
    text-transform: uppercase;
    border: none;
    background: none;
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    text-shadow: 0 0 0 transparent, 0 0 10px #b10707, 0 0 20px rgba(177, 7, 7, 0.5), 0 0 40px #b10707, 0 0 100px #b10707, 0 0 200px #b10707, 0 0 300px #b10707, 0 0 500px #b10707;
    transition: 1s all ease; }
    @media (max-width: 960px) {
      .signUpForm button,
      .logInForm button {
        font-size: 1.5vw;
        padding-top: 20px; } }
    @media (max-width: 768px) {
      .signUpForm button,
      .logInForm button {
        font-size: 4vw;
        padding-top: 30px; } }
    @media (max-width: 550px) {
      .signUpForm button,
      .logInForm button {
        font-size: 6.5vw;
        padding-top: 20px; } }
    .signUpForm button:hover,
    .logInForm button:hover {
      color: #d4eaff;
      text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff; }

.signUpForm div {
  width: 33.3%;
  float: left; }
  @media (max-width: 768px) {
    .signUpForm div {
      width: 100%; } }

.logInForm div {
  width: 50%;
  float: left; }
  @media (max-width: 768px) {
    .logInForm div {
      width: 100%; } }

@keyframes buzz {
  70% {
    opacity: 0.80; } }

@keyframes blink {
  40% {
    opacity: 1; }
  42% {
    opacity: 0.8; }
  43% {
    opacity: 1; }
  45% {
    opacity: 0.2; }
  46% {
    opacity: 1; } }

@media screen and (min-width: 1000px) {
  .logo {
    width: 400px;
    font-size: 150px; }
  .logo .signUp .logIn {
    font-size: 103px; } }

.finder {
  height: 100%;
  background-repeat: repeat-y; }

.finder-container {
  width: 100%;
  height: 120px;
  padding: 20px;
  margin: 0 auto 30px;
  background-color: #fff;
  position: fixed;
  z-index: 2; }
  .finder-container .auth {
    float: left; }
    .finder-container .auth .log-out {
      padding: 15px;
      border: 3px solid #ffb300;
      transition: 0.25s;
      font-size: 2.5rem;
      margin-top: 5px;
      margin-left: 30px; }
      .finder-container .auth .log-out:hover, .finder-container .auth .log-out:focus {
        box-shadow: inset 0 -3.25em 0 0 #ffb300;
        border-color: #ffb300;
        color: #fff; }
    .finder-container .auth .signout-symbol {
      display: none; }
  .finder-container h2 {
    float: left;
    margin-left: 50px;
    margin-top: 15px;
    text-shadow: 1px 1px 5px white; }
  .finder-container .book {
    float: right;
    margin-right: 40px;
    background: transparent; }
    .finder-container .book .beer-bible {
      float: left;
      width: 90px; }
    .finder-container .book .glow {
      animation: glowing 0.7s;
      filter: drop-shadow(2px 2px 0 rgba(255, 179, 0, 0.2)) drop-shadow(-2px 2px 0 rgba(255, 179, 0, 0.3)) drop-shadow(2px -2px 0 rgba(255, 179, 0, 0.3)) drop-shadow(-2px -2px 0 rgba(255, 179, 0, 0.3)); }

.search-form {
  padding-top: 140px;
  font-family: "neontubes";
  width: 100%;
  font-size: 2vw;
  color: #fefefe;
  text-transform: uppercase;
  text-shadow: 0 0 0 transparent, 0 0 10px #fff, 0 0 20px rgba(250, 250, 250, 0.5), 0 0 40px #fafafa, 0 0 100px #fafafa, 0 0 200px #fafafa, 0 0 300px #fafafa, 0 0 500px #fafafa; }
  .search-form button {
    font-size: 3.6rem;
    font-family: "neontubes";
    margin: 0 auto 40px;
    display: block;
    border: none;
    background: transparent;
    color: #fefefe;
    text-transform: uppercase;
    text-shadow: 0 0 0 transparent, 0 0 10px #fff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff; }
  .search-form div {
    float: left;
    text-align: center;
    width: calc(100% / 3);
    margin-bottom: 10px; }
    .search-form div label {
      font-size: 2.9rem;
      margin-right: 10px; }
    .search-form div input {
      font-size: 2rem;
      width: 95%;
      max-width: 400px; }

.search-results {
  position: relative;
  text-align: center;
  height: 100%; }
  .search-results .beer-item {
    width: calc(25% - 20px);
    margin: 10px;
    float: left;
    padding: 3% 2%;
    height: 520px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.1s ease-in; }
    .search-results .beer-item .beer-item-name {
      line-height: 2.9rem;
      transition: all 0.1s ease-in;
      color: white;
      letter-spacing: 0.3rem;
      font-weight: 400; }
    .search-results .beer-item img {
      width: auto;
      height: 300px;
      margin: 0 auto; }
    .search-results .beer-item:hover {
      box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem #2695ff, inset 0 0 2rem #2695ff, 0 0 4rem #2695ff, inset 0 0 4rem #2695ff;
      background-color: rgba(255, 255, 255, 0.3); }
    .search-results .beer-item:hover .beer-item-name {
      text-shadow: -0.2rem -0.2rem 1rem #2695ff, 0.2rem 0.2rem 1rem #2695ff, 0 0 2rem #2695ff, 0 0 4rem #2695ff, 0 0 6rem #2695ff, 0 0 8rem #2695ff, 0 0 10rem #2695ff; }
    .search-results .beer-item .info-button,
    .search-results .beer-item .add-button {
      background: transparent; }
      .search-results .beer-item .info-button:hover i,
      .search-results .beer-item .add-button:hover i {
        animation: pulse 2s infinite;
        text-shadow: -0.2rem -0.2rem 1rem #2695ff, 0.2rem 0.2rem 1rem #2695ff, 0 0 2rem #2695ff, 0 0 4rem #2695ff, 0 0 6rem #2695ff, 0 0 8rem #2695ff, 0 0 10rem #2695ff; }
    .search-results .beer-item .info-button i,
    .search-results .beer-item .add-button i {
      font-size: 4.2rem;
      transition: all 0.2s ease-in;
      color: white; }
      .search-results .beer-item .info-button i:hover,
      .search-results .beer-item .add-button i:hover {
        text-shadow: -0.2rem -0.2rem 1rem #2695ff, 0.2rem 0.2rem 1rem #2695ff, 0 0 2rem #2695ff, 0 0 4rem #2695ff, 0 0 6rem #2695ff, 0 0 8rem #2695ff, 0 0 10rem #2695ff; }
    .search-results .beer-item .add-button i:hover {
      animation: spin 2s infinite; }
    .search-results .beer-item .info-button i:hover {
      animation: pulse 2s infinite; }

.beer-item-modal {
  opacity: 0;
  visibility: hidden;
  border: 5px solid #00245b;
  background: #eee;
  color: #00245b;
  padding: 3%;
  position: fixed;
  z-index: 3;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: visibility 0s, opacity 0.5s linear;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.8); }
  .beer-item-modal .ingredient-list .list {
    width: 33%;
    float: left; }
  .beer-item-modal .close-modal-button {
    background: transparent;
    position: absolute;
    right: 20px;
    z-index: 10;
    top: 20px; }
    .beer-item-modal .close-modal-button:hover i {
      color: #ffb300;
      animation: spin 2s infinite; }
  .beer-item-modal .close-modal-button i {
    font-size: 4.2rem;
    color: #00245b;
    transition: all 0.2s ease-in; }
    .beer-item-modal .close-modal-button i:hover {
      color: #ffb300;
      animation: spin 2s infinite; }

@media (max-width: 850px) {
  .search-results .beer-item {
    width: calc((100%/3) - 20px); } }

@media (max-width: 620px) {
  .finder-container h2 {
    display: none; }
  .search-results .beer-item {
    width: calc((100%/3) - 20px);
    height: 350px; }
    .search-results .beer-item .beer-item-name {
      line-height: 2rem;
      font-size: 1.8rem; }
    .search-results .beer-item img {
      width: auto;
      height: 200px;
      margin: 0 auto; }
    .search-results .beer-item .info-button i,
    .search-results .beer-item .add-button i {
      font-size: 3.2rem; } }

@media (max-width: 500px) {
  .finder-container {
    height: 80px; }
    .finder-container .auth .log-out {
      display: none; }
    .finder-container .auth .signout-symbol {
      display: inline-block;
      font-size: 3.8rem;
      color: #00245b;
      margin-left: 10px; }
    .finder-container .book {
      position: absolute;
      right: 0;
      top: 8px; }
      .finder-container .book .beer-bible {
        width: 60px; }
  .search-results .beer-item {
    width: calc((100%/2) - 20px);
    height: 280px; }
    .search-results .beer-item .beer-item-name {
      line-height: 2rem;
      font-size: 1.8rem; }
    .search-results .beer-item img {
      width: auto;
      height: 150px;
      margin: 0 auto; }
    .search-results .beer-item .info-button i,
    .search-results .beer-item .add-button i {
      font-size: 3.6rem; }
  .search-form button {
    font-size: 3rem;
    font-family: "neontubes";
    margin: 0 auto 15px;
    display: block;
    border: none;
    background: transparent;
    color: #fefefe;
    text-transform: uppercase;
    text-shadow: 0 0 0 transparent, 0 0 10px #fff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff; }
  .search-form div {
    float: left;
    text-align: center;
    width: 100%;
    margin-bottom: 10px; }
    .search-form div label {
      font-size: 2.6rem;
      margin: 0;
      margin-right: 5px; }
    .search-form div input {
      font-size: 1.8rem;
      width: 85%;
      max-width: 400px; }
  .beer-item-modal .ingredient-list .list {
    display: none; }
  .beer-item-modal p {
    height: 60vh;
    overflow-y: auto; } }

.recipe-book-container {
  height: 100%;
  width: 100%; }

.recipe-book-header {
  width: 100%;
  height: 120px;
  background-color: #fff;
  position: fixed;
  z-index: 2;
  margin-bottom: 10px; }

.wrapper-header {
  width: 90%;
  height: 120px;
  max-width: 1500px;
  margin: 0 auto; }
  .wrapper-header button {
    float: left;
    padding: 15px;
    border: 3px solid #ffb300;
    transition: 0.25s;
    font-size: 2.5rem;
    margin-top: 25px; }
    .wrapper-header button:hover, .wrapper-header button:focus {
      box-shadow: inset 0 -3.25em 0 0 #ffb300;
      border-color: #ffb300;
      color: #fff; }
    @media (max-width: 768px) {
      .wrapper-header button {
        margin: 30px 2% 30px 0;
        padding: 10px 10px;
        font-size: 15px; } }
    @media (max-width: 550px) {
      .wrapper-header button {
        margin-top: 25px;
        width: 25%; } }
    @media (max-width: 375px) {
      .wrapper-header button {
        margin: 15px 5% 10px;
        font-size: 15px;
        width: 50%; } }
    @media (max-width: 320px) {
      .wrapper-header button {
        padding: 5px;
        width: 80%;
        margin: 10px 0; } }
  .wrapper-header h2 {
    float: left;
    margin-left: 50px;
    margin-top: 35px;
    text-shadow: 1px 1px 5px white; }
    @media (max-width: 768px) {
      .wrapper-header h2 {
        margin: 35px 10px;
        padding: 0; } }
    @media (max-width: 550px) {
      .wrapper-header h2 {
        padding: 30px 20px 0 0;
        margin: 0 auto; } }
    @media (max-width: 375px) {
      .wrapper-header h2 {
        padding: 30px 0 0 0;
        font-size: 20px; } }
    @media (max-width: 320px) {
      .wrapper-header h2 {
        font-size: 20px; } }
  .wrapper-header img {
    float: right;
    width: 120px;
    padding-top: 15px; }
    @media (max-width: 768px) {
      .wrapper-header img {
        width: 105px;
        padding-top: 20px; } }
    @media (max-width: 550px) {
      .wrapper-header img {
        float: right;
        padding-top: 15px;
        margin: 0; } }

.beers-list {
  float: right;
  width: calc(35% - 10px);
  height: 35vh;
  overflow: auto;
  background-color: #00778a;
  border-radius: 10px;
  margin: 130px 0 0 10px; }
  @media (max-width: 1280px) {
    .beers-list {
      float: left;
      width: 100%;
      margin: 130px 0 10px 0;
      padding: 0; } }
  @media (max-width: 1280px) {
    .beers-list .beer-box-wrapper {
      float: left;
      width: 80%;
      margin: 3px 10%; } }
  .beers-list .beer-box-wrapper .beer-box {
    background-color: white;
    cursor: pointer;
    border: 1px solid #00245b;
    float: left;
    width: 80%;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    overflow: hidden; }
    .beers-list .beer-box-wrapper .beer-box h4 {
      margin: 0;
      padding: 5px 10px;
      line-height: 4rem; }
    @media (max-width: 1280px) {
      .beers-list .beer-box-wrapper .beer-box {
        float: left;
        width: 80%;
        margin: 0;
        padding: 0; } }
  .beers-list .beer-box-wrapper button {
    background-color: white;
    border: 1px solid #00245b;
    padding: 9px;
    margin: 5px 0 5px 7px;
    float: left;
    width: 10%;
    height: 50px; }
    @media (max-width: 1280px) {
      .beers-list .beer-box-wrapper button {
        float: left;
        width: 20%;
        margin: 0 0 0 15px;
        padding: 5px;
        width: calc(10% - 15px); } }
    @media (max-width: 1280px) {
      .beers-list .beer-box-wrapper button {
        margin-left: 5px;
        width: 50px; } }
    @media (max-width: 550px) {
      .beers-list .beer-box-wrapper button {
        width: 20%;
        margin: 0;
        padding: 0; } }

.notes-box {
  background-color: #00778a;
  float: right;
  width: calc(35% - 10px);
  height: 45vh;
  padding: 25px;
  margin: 10px 0 10px 10px;
  border-radius: 10px; }
  @media (max-width: 1280px) {
    .notes-box {
      width: 100%; } }
  .notes-box #notes {
    width: 100%;
    height: 70%;
    border: none; }
  .notes-box h3 {
    margin: 0;
    padding: 0; }
  .notes-box .save-note-button {
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #00245b; }

.full-recipe {
  float: left;
  width: 65%;
  padding: 25px;
  margin-top: 130px;
  background-color: #ebeae5;
  border-radius: 10px; }
  @media (max-width: 1280px) {
    .full-recipe {
      float: none;
      clear: both;
      width: 100%; } }

.dave img {
  width: 70%;
  margin: 0 auto; }

.food-module {
  margin: 0;
  padding: 0; }
  .food-module button {
    color: black;
    padding: 10px 15px; }
  .food-module .foodPairingRecipes .food-item {
    display: float;
    float: left;
    width: 30%;
    margin-right: 5%;
    position: relative;
    background: #00778A;
    opacity: 1;
    transition: opacity 0.6s;
    padding: 0;
    border: 8px solid #00778A;
    border-radius: 10px; }
  .food-module .foodPairingRecipes .food-item:hover {
    opacity: 0.9; }
  .food-module .foodPairingRecipes .food-item:last-of-type {
    margin-right: 0; }
  .food-module .foodPairingRecipes .food-item h4 {
    height: 60px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.6s; }
  .food-module .foodPairingRecipes .food-item:hover > h4 {
    opacity: 1; }
  .food-module .foodPairingRecipes .food-item a {
    text-decoration: none;
    color: white; }
  .food-module .foodPairingRecipes img {
    width: 100%; }

.hideButton {
  display: none; }

@media (max-width: 1280px) {
  .full-recipe h3 {
    margin: 0 10%; } }

.full-recipe ul {
  margin: 0;
  padding: 0; }
  .full-recipe ul li {
    padding: 5px 0; }
  @media (max-width: 1280px) {
    .full-recipe ul {
      margin: 0 10%; } }

.ask-dave {
  position: relative; }
  .ask-dave img {
    width: 50%;
    min-width: 190px; }
    @media (max-width: 1280px) {
      .ask-dave img {
        width: 30%;
        margin: 0 10%; } }
  .ask-dave .brewer-tips-modal {
    display: none;
    background-image: url(/assets/speech-bubble.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 320px;
    height: 280px;
    top: -30%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .ask-dave .brewer-tips-modal h4, .ask-dave .brewer-tips-modal p {
      padding: 5px 10px 0 25px;
      margin: 0; }

img {
  width: 100%;
  display: block; }

body {
  background-color: #001a33; }

button {
  border: none; }

textarea {
  resize: none; }

ul {
  list-style: none; }

.wrapper {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto; }

.show {
  display: block; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }
